@font-face {
  font-family: Plantin MT Pro;
  font-style: normal;
  font-weight: 300;
  src: url(fonts/plantin/plantin-pro-light.ttf) format('truetype');
}

@font-face {
  font-family: Plantin MT Pro;
  font-style: italic;
  font-weight: 300;
  src: url(fonts/plantin/plantin-pro-light-italic.ttf) format('truetype');
}

@font-face {
  font-family: Plantin MT Pro;
  font-style: normal;
  font-weight: 400;
  src: url(fonts/plantin/plantin-pro-regular.ttf) format('truetype');
}

@font-face {
  font-family: Plantin MT Pro;
  font-style: italic;
  font-weight: 400;
  src: url(fonts/plantin/plantin-pro-regular-italic.ttf) format('truetype');
}

@font-face {
  font-family: Plantin MT Pro;
  font-style: normal;
  font-weight: 500;
  src: url(fonts/plantin/plantin-pro-semibold.ttf) format('truetype');
}

@font-face {
  font-family: Plantin MT Pro;
  font-style: italic;
  font-weight: 500;
  src: url(fonts/plantin/plantin-pro-semibold-italic.ttf) format('truetype');
}

@font-face {
  font-family: Plantin MT Pro;
  font-style: normal;
  font-weight: 600;
  src: url(fonts/plantin/plantin-pro-bold.ttf) format('truetype');
}

@font-face {
  font-family: Plantin MT Pro;
  font-style: italic;
  font-weight: 600;
  src: url(fonts/plantin/plantin-pro-bold-italic.ttf) format('truetype');
}

@font-face {
  font-family: Apercu Pro;
  font-style: normal;
  font-weight: 100 300;
  src: url(fonts/apercu/apercu-light.woff2) format('woff2');
}

@font-face {
  font-family: Apercu Pro;
  font-style: italic;
  font-weight: 100 300;
  src: url(fonts/apercu/apercu-light-italic.woff2) format('woff2');
}

@font-face {
  font-family: Apercu Pro;
  font-style: normal;
  font-weight: 400;
  src: url(fonts/apercu/apercu-regular.woff2) format('woff2');
}

@font-face {
  font-family: Apercu Pro;
  font-style: italic;
  font-weight: 400;
  src: url(fonts/apercu/apercu-regular-italic.woff2) format('woff2');
}

@font-face {
  font-family: Apercu Pro;
  font-style: normal;
  font-weight: 500;
  src: url(fonts/apercu/apercu-medium.woff2) format('woff2');
}

@font-face {
  font-family: Apercu Pro;
  font-style: italic;
  font-weight: 500;
  src: url(fonts/apercu/apercu-medium-italic.woff2) format('woff2');
}

@font-face {
  font-family: Apercu Pro;
  font-style: normal;
  font-weight: 600;
  src: url(fonts/apercu/apercu-bold.woff2) format('woff2');
}

@font-face {
  font-family: Apercu Pro;
  font-style: italic;
  font-weight: 600;
  src: url(fonts/apercu/apercu-bold-italic.woff2) format('woff2');
}

@font-face {
  font-family: Mona Lisa;
  font-style: normal;
  font-weight: 400;
  src: url(fonts/monalisa/MonoLisa-Regular.woff2) format('woff2');
}

@font-face {
  font-family: Mona Lisa;
  font-style: italic;
  font-weight: 400;
  src: url(fonts/monalisa/MonoLisa-RegularItalic.woff2) format('woff2');
}

@font-face {
  font-family: Mona Lisa;
  font-style: normal;
  font-weight: 500 800;
  src: url(fonts/monalisa/MonoLisa-Bold.woff2) format('woff2');
}

@font-face {
  font-family: Mona Lisa;
  font-style: italic;
  font-weight: 500 800;
  src: url(fonts/monalisa/MonoLisa-BoldItalic.woff2) format('woff2');
}

@font-face {
  font-family: Mona Lisa;
  font-style: normal;
  font-weight: 100 300;
  src: url(fonts/monalisa/MonoLisa-Light.woff2) format('woff2');
}

@font-face {
  font-family: Mona Lisa;
  font-style: italic;
  font-weight: 100 300;
  src: url(fonts/monalisa/MonoLisa-LightItalic.woff2) format('woff2');
}
