body {
  min-height: 100vh;
}

@font-face {
  font-family: 'Plantin MT Pro';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Plantin MT Pro'),
    url('fonts/plantin/plantin-pro-light.ttf') format('truetype');
}

@font-face {
  font-family: 'Plantin MT Pro';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: local('Plantin MT Pro'),
    url('fonts/plantin/plantin-pro-light-italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Plantin MT Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Plantin MT Pro'),
    url('fonts/plantin/plantin-pro-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Plantin MT Pro';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Plantin MT Pro'),
    url('fonts/plantin/plantin-pro-regular-italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Plantin MT Pro';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Plantin MT Pro'),
    url('fonts/plantin/plantin-pro-semibold.ttf') format('truetype');
}

@font-face {
  font-family: 'Plantin MT Pro';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: local('Plantin MT Pro'),
    url('fonts/plantin/plantin-pro-semibold-italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Plantin MT Pro';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Plantin MT Pro'),
    url('fonts/plantin/plantin-pro-bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Plantin MT Pro';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: local('Plantin MT Pro'),
    url('fonts/plantin/plantin-pro-bold-italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Apercu Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Apercu Pro'),
    url('fonts/apercu/apercu-regular-pro.otf') format('opentype');
}

@font-face {
  font-family: 'Apercu Pro';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Apercu Pro'),
    url('fonts/apercu/apercu-regular-italic-pro.otf') format('opentype');
}

@font-face {
  font-family: 'Apercu Pro';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Apercu Pro'),
    url('fonts/apercu/apercu-medium-pro.otf') format('opentype');
}

@font-face {
  font-family: 'Apercu Pro';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: local('Apercu Pro'),
    url('fonts/apercu/apercu-medium-italic-pro.otf') format('opentype');
}

@font-face {
  font-family: 'Apercu Pro';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Apercu Pro'),
    url('fonts/apercu/apercu-bold-pro.otf') format('opentype');
}

@font-face {
  font-family: 'Apercu Pro';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: local('Apercu Pro'),
    url('fonts/apercu/apercu-bold-italic-pro.otf') format('opentype');
}
